@import url('https://fonts.googleapis.com/css?family=Amatica+SC|Josefin+Sans');


h2{
  text-align: center;
  flex-direction: row;
  margin: 20%;
  padding-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3em;
  color: #DBDDDE;
}
