footer {
  padding: 1% 15% 2% 5%;
  height: 85px;
  width: 95%;
  flex-direction: row;
  text-align: center;
  background: #3E464B;
  position: static;
  margin: 0 auto;
  color: #DBDDDE;
}

footer li{
  margin: 10%;
}

footer ul{
  margin: 0 15% 12%;
  list-style: none;
  display: inline-flex;
  text-align: center;
  height: 5%;
}

footer a, footer a:hover, footer a:visited{
text-decoration: none;
color: white;
}
