@import url('https://fonts.googleapis.com/css?family=Amatica+SC|Josefin+Sans');


/*Popups*/
.popup{
  display: block;
  text-align: center;
  font-size: 1.2em;
  height: 400px;
  width: 400px;
  margin: 0 34%;
  position: fixed;
  border-radius: 2%;
	background: #566C74;
	z-index: 2;
  font-family: 'Josefin Sans', sans-serif;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
};

.popup-inner h3{
  color: #DBDDDE;
  text-align: justify;
}

.popup-inner p{
  color: #DBDDDE;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.popup-inner a{
  color: #171A1C;
  text-decoration: none;
  margin: 4%;
}

.popup-inner a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.popup-inner .close{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  color: #171A1C;
}

.close:hover{
  text-decoration: none;
  cursor: pointer;
}

.opaque{
  opacity: 2%;
}

#phone-img{
  width: 100px;
  height: 150px;
}

/*Larger Phones*/
@media screen
and (min-device-width: 320px)
and (max-device-width: 425px){

  .popup{
    margin: 0;
  }
}

/*Small and Medium Phones*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px) {

    .popup{
      border-radius: 25%;
      height: 400px;
      width: 300px;
      margin-left: -55px;
    }

    .popup-inner img {
      width: 130px;
      height: 100px;
    }

    .popup > .popup-inner{
      width: 80%;
      margin: 10% auto;
    }

}
